h1{
    color: #A64031;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}
h2{

    text-align: center;
}
h3{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    margin: 25px;
}

.imgcontainer {
    position: relative;
}
.imgwrap:hover img{
    -webkit-filter: blur(20px);
}
.description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    background: rgba(0,0,0,0.001);
    visibility: hidden;
    opacity: 0;
    padding: 50px 15px 0 15px;

}
.imgwrap:hover .description {
    visibility: visible;
    opacity: 1;
}
body {
    height: 100%;
    overflow: hidden;
}

td{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

button{
    background-color: #A64031;
    color: whitesmoke;
    border: 1px solid #A64031;
    text-align: center;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    padding: 10px 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
}


.next{
    margin: 0;
    position: absolute;
    left: 95%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.back{
    margin: 0;
    position: absolute;
    right: 95%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
button:hover{
    cursor: pointer;
}
button .active{
    background-color: pink;
}

.totalcost{
    font-size: 40px;
    text-align: center;
    color: #A64031;
    font-family: 'Fira Sans', sans-serif;
}
