h1{
    color: #A64031;
    font-family: 'Fira Sans', sans-serif;
}

h3{
    font-family: 'Fira Sans', sans-serif;
}

.button{
    background-color: #A64031;
    border-radius: 8px;
    border-color: #A64031;
    color: white;

    width: 250px;
    height: 50px;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}

.wrapper {
    text-align: center;
}

